@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 200vh;
}

section {
    margin-top: 7vh;
    padding: 100px;
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width:600px) {
    legend {
        font-size: 0.6em !important;
    }
    p {
        font-size: 2.2vw !important;
    }
    img {
        width: 150px;
        height: 150px;
    }
    .pubg {
        height: 30em;
    }
    .pubg-p,
    .mafia-p {
        height: 170px;
    }
    .pubg-f button,
    .mafia-II-f button {
        width: 70px !important;
        height: 35px !important;
        margin: 15px;
        font-size: 0.4em !important;
    }
    .pubg-f {
        margin: auto;
        width: 60vw;
        height: 50vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
    }
    .pubg-f {
        margin-top: 25vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .mafia-II-f {
        margin: auto;
        width: 60vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 15px;
        bottom: 30em;
        top: 10em;
        margin-left: 2em;
    }
    .mafia {
        height: 30em !important;
    }
    #lista-materiale {
        font-size: 0.4em;
    }
    th,
    tr,
    td {
        font-size: 0.5em;
    }
}

@media only screen and (min-width:601px) {
    .pubg {
        height: 160vh;
    }
    .pubg p {
        height: 150px;
    }
}

.pubg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transition-delay: 1s;
}

.pubg-p {
    width: 500px;
    top: 90vh;
    letter-spacing: 3px;
    font-size: 1.5vw;
}

.pubg-p span {
    color: #FFD700;
}

.pubg-f {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
}

img {
    padding: 20px;
}

.pubg-l {
    margin: auto;
    font-size: 2vw;
    color: #FFD700;
}

.mafia {
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transition-delay: 1s;
}

.mafia-p {
    width: 500px;
    height: 350px;
    top: auto;
    letter-spacing: 3px;
    font-size: 1.3vw;
    margin-top: 35vh;
}

.mafia-II-f {
    margin: auto;
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.mafia-II-f button,
.pubg-f button {
    width: 200px;
    height: 80px;
    margin: 20px;
    border-radius: 10px;
    background-color: #5b78c7;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1vw;
    color: #fff;
}

.mafia-II-l {
    margin: auto;
    font-size: 2vw;
    color: red;
}

#lista-materiale {
    text-align: center;
    display: none;
}

#tabel,
th,
tr,
td {
    border: 2px solid grey;
}

#tabel {
    display: none;
}

th:hover,
tr:hover,
td:hover {
    transform: scale(1.25);
    border: 3px solid black;
    transition: 0.6s ease;
}